.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}
#box{
  position: absolute;
  top: 30%;
  left: 25%;
  width: 650px;
  height: 350px;
  max-width: 120%;
  max-height: 120%;
  background-color: #FF9900;
}
#logo_box{
  position: absolute;
  top: 10%;
  left: 75%;
  width: 90px;
  height: 100px;
  max-width: 20%;
  max-height: 25%;
  min-width: 5%;
  min-height: 7%;
  background-color: transparent;
}
img{
  width: 90px;
  height: 90px;
}
#date{
  position: absolute;
  top: 10%;
  left: 5%;
  width: 120px;
  height: 10px;
  max-width: 25%;
  max-height: 25%;
  min-width: 5%;
  min-height: 7%;
  background-color: transparent;
}
#case{
  position: absolute;
  top: 40%;
  left: 5%;
  width: 120px;
  height: 35px;
  max-width: 25%;
  max-height: 25%;
  min-width: 5%;
  min-height: 7%;
  background-color: transparent;
}
#Title{
  position: absolute;
  top: 55%;
  left: 5%;
  width: 250px;
  height: 50px;
  max-width: 60%;
  max-height: 25%;
  min-width: 5%;
  min-height: 7%;
  background-color: transparent;
}
#device{
  position: absolute;
  top: 90%;
  left: 5%;
  width: 250px;
  height: 10px;
  max-width: 60%;
  max-height: 25%;
  min-width: 5%;
  min-height: 7%;
  background-color: transparent;
}
#arrow{
  position: absolute;
  top: 90%;
  left: 80%;
  width: 100px;
  height: 10px;
  max-width: 60%;
  max-height: 25%;
  min-width: 5%;
  min-height: 7%;
  background-color: transparent;
}
